.calculator {
  padding: 10px 0 0 10px;
  font-family: Arial;
  font-size: 14px;
  &.arrow {
    &:before {
      border-color: #8bc34a;
    }
  }
  .calculator__input {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 0 0 10px 0;
    font-family: Arial;

  }
}